Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
man/Makefile
man/Makefile.in
missing
src/**/.deps/
src/**/.dirstamp
*.o
src/Makefile
src/Makefile.in
src/nwipe
stamp-h1
.DS_Store
