# Autotools generated
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.status
configure
depcomp
install-sh
missing
stamp-h1
test-driver

# Build artifacts
.deps/
.dirstamp
*.o
src/git_hash.h
src/nwipe
tests/unit/test_round_size

# Distribution
*.tar.gz
nwipe-*/

# Logs / Test suite
*.log
*.trs

# Editors / OS
.DS_Store
.vscode/
*.swp
