Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
config.guess
config.sub
configure
depcomp
install-sh
man/Makefile
man/Makefile.in
missing
src/**/.deps/
src/**/.dirstamp
tests/unit/.deps/
tests/unit/.dirstamp
*.o
*.log
*.trs
src/Makefile
src/Makefile.in
src/nwipe
src/test_*
stamp-h1
.DS_Store
test-driver
/ci-artifacts
