name: ci_formatting

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Update system dependencies
        run: sudo apt-get update

      - name: Install system dependencies
        run: |
          sudo apt-get install -y \
            build-essential \
            pkg-config \
            meson \
            ninja-build \
            libncurses5-dev \
            libparted-dev \
            libconfig-dev \
            libconfig++-dev \
            dmidecode \
            clang-format

      - name: Configure (Meson)
        run: meson setup build --prefix=/usr -Dc_args='-O0 -g -Wall -Wextra'

      - name: Verify code style
        run: meson compile -C build check-format
